*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --main-color: black;
    --contrast-color: rgb(255, 255, 255);
    --first-palet-color: rgb(113, 140, 130);
    --second-palet-color: #a8d7b8;
    --third-palet-color: #572D28;
}
body{
    height: 100dvh;
    width: 100dvw;
    overflow-x: hidden;
}   
header{
    height: 10dvh;
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main{
    height: 90dvh;
    width:  100dvw ;
}

.menuHide{
    display: none;
}
.menuShow{
    display: block;
}
#menu a {
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 1px solid black;
    background-color: var(--first-palet-color);
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2em;

}
#menuDiv,
#menuDiv::before,
#menuDiv::after {
  margin-left: 30px;
  display: block;
  background-color: var(--contrast-color);
  height: 5px;
  width: 25px;
  border-radius: 5px;
}

#menuDiv::before {
  content: '';
  margin-top: -8px;
  margin-left: 02px;
}
#menuDiv::after {
  content: '';
  margin-top: 11px;
  margin-left: -02px;
}

div#Destaqued,div#allProducts{
    background-color: rgba(231, 231, 231, 0.385);
    width: 80%;
    max-width: 400px;
    min-width: 250px;
    margin: 5px 0px;
    border-radius: 12px;
}
#destH1, #allH1{
    transform: translate(0px,50%);
    background-color: var(--second-palet-color);
    box-shadow: inset -1px -1px 10px 0.5px rgba(255, 255, 255, 0.124);
    color: rgb(26, 26, 26);
    padding: 0px 5px;
    border: 1px solid black;
}
#container{
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productsDiv{
    position: relative;
    margin: 10px;
    padding: 10px;
    height: 100px;

    border: 1px solid black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.productsDiv div img{
    position: absolute;
    height: 90%;
    width: 25%;
    right: 3%;
    top: 5%;
    background-color: rgba(0, 0, 0, 0.297);
}
.productsDiv div{
    max-width: 200px;
    overflow: hidden;
}

#addProduct{
    width: 100%;
    display: none;
    background-color: #00000004;
    border: 1px solid black;
    max-width: 400px;
    min-width: 250px;
    border-radius: 12px;
    margin: auto;
    margin-top: 40px;
    padding: 10px 20px;
    padding-bottom: 40px;
    
}
#addHide{
    display: none;
}
#addProduct label, input, select{
    margin: 10px 0px;
}
#addProduct label{
    font-size: 1.1em;
    color: #000000;

}
#addProduct input{
    background-color: transparent;
    border-bottom: 1px solid black;
    border-top: 0px solid black;
    border-right: 0px solid black;
    border-left: 0px solid black;
    outline: none;
    margin-left: 10px;
    width: 100%;
    height: 2em;
    font-size: 1em;
    color: #000000;
    transform: translate(-3%);
}
#addProduct #btnToken{
    border: 1px solid black;
    background-color: #ffffff;
    padding: 1px 10px ;
    border-radius: 12px;
}
#addProduct #btnToken:hover{
    border-radius: 0px;
    background-color: #000000b4;
    color: #ffffff;
}
#btnAddProduct{
    padding: 10px;
    margin:10px auto;
    background-color: #ffffff;
    width: 60%;
    transform: translate(0px,9px);
    display: flex;
    justify-content: center;
    font-weight: 600;
    border-radius: 12px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
}
#apiRespons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.productsProd{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    height: 200px;
    width: 80%;
    min-width: 200px;
    overflow: hidden;
}
.productsProd img{
    width: 100%;
    height: 100%;
}

#validBtn{
    transform: translate(50%);
}
#nameAndProduct{
    background-color: #6d6d6d3a;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
#informations{
    box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.12);
    height: 5%;
    text-align: center;
    font-size: 1.1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.emailBox{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.752);
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    width: 90%;
    min-width: 200px;
    border-radius: 12px;
    font-size: 1.05em;
    box-shadow: inset 1px 1px 7px 1px rgba(0, 0, 0, 0.041);
}
.userInfoDivs{
    width: 50%;
    text-align: left;
}





