@charset "UTF-8";
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --color_1: rgb(255, 255, 255);
    --color_2: rgb(25, 84, 203);
    --color_3: rgb(0,0,0);
    --color_4: rgb(193, 91, 60);
    --color_5: rgb(211, 211, 211);
    --h1_letter_size: 20px;
    --h2_letter_size: 16px;
    --p_letter_size: 1.1em;
    --line_height_1: 2em;
    --line_height_2: 1em;
    --products_heigth: 400px;
    --products_width: calc(var(--products_heigth)/1.2);
}
body{
    height: 100dvh;
    width: 100dvw;
    background-color: var(--color_1);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
header{
    background-color: var(--color_3);
    padding: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    
}
main{
    display: flex;
    flex-direction: column;
}

a{
    color: white;
    text-decoration: none;
    font-size: var(--p_letter_size);
}
h1{
    color: var(--color_2);
    line-height: var(--line_height_1);
}

#Shadow{
    position: absolute;
    width: 350px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
    transform: rotate(-6deg) translate(65px, -25px);
}
/*Menu*/
#menu a {
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--color_4);
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2em;

}
.menuHide{
    display: none;
}

.menuShow{
    display: block;
}
#menuHamburger,
#menuHamburger::before,
#menuHamburger::after {
  margin-left: 30px;
  display: block;
  background-color: var(--color_1);
  height: 5px;
  width: 25px;
  border-radius: 5px;
}

#menuHamburger::before {
    content: '';
    margin-top: -8px;
    margin-left: 00px;
}
#menuHamburger::after {
    content: '';
    margin-top: 11px;
    margin-left: -00px;
}
/*  Call to action  */
#seeProducts{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    height: 100%;
    width: 50%;
    background-color: var(--color_2);
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    
}
#login{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    height: 100%;
    width: 50%;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: 600;
    background-color: transparent;
    border: 3px solid var(--color_2);
}
#btnDiv{
    width: 100%;
    height: 7%;
    display: flex;
}
/*  Prod Session in Main page */
#Producsts{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    background-color: var(--color_1);
    padding: 10px;
    
}
#line{
    display: flex;
    width: 100%;
    align-items: center;
    height: 2px;
    background-color: rgb(167, 167, 167);
}
#Producsts h1{
    color: black;
    font-weight: 600;
    size: 1em;
}
#productsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productsDiv{
    padding: 10px;
    margin: 10px;
    width: var(--products_width);
    height: var(--products_heigth);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    
}
#prodImg{
    align-items: center;
    display: flex;
    justify-content: center;
}
.productsDiv div img{
    background-color: rgba(108, 108, 108, 0.297);
    width: 90%;
}
/*  One Prod Page */
#prodSession{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#imgContainer, #infoContainer{
    width: 60%;
}


#btnAddCart{
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 50%;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 600;
    background-color: var(--color_3);
    padding: 10px;
    
}
#btnAddCart:hover{
    
    background-color: transparent;
    border: 2px solid var(--color_3);
    color: var(--color_3);
    
}

/* ALL Products css*/

#prodContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;
}
#searchSection, #filterSection{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#allProdSubmit, #filterHide, #aplyFilter{
    height: 10px;
    width: 10px;
    background-color: black;
}



/*  Footer */

footer{
    width: 100%;
    bottom: 0%;
    background-color: rgb(47, 47, 47);
    color: white;
    padding: 2px;
    text-align: center;
}
footer a:hover{
    background-color: var(--color_1);
    color: var(--color_3);
    border-radius: 5px;
    padding: 2px;
}
