@charset "UTF-8";
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --color_1: rgb(255, 255, 255);
    --color_2: rgb(208, 31, 31);
    --color_3: rgb(0,0,0);
    --color_4: rgb(193, 91, 60);
    --color_5: rgb(0, 0, 0);
    --h1_letter_size: 2.4em;
    --h2_letter_size: 16px;
    --p_letter_size: 1.1em;
    --line_height_1: 2em;
    --line_height_2: 1em;
    --products_heigth: 400px;
    --products_width: calc(var(--products_heigth)/1.2);
}
body{
    height: 100dvh;
    width: 100dvw;
    background-color: var(--color_1);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
header{
    background-color: var(--color_3);
    padding: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
main{
    display: flex;
    flex-direction: column;
}

a{
    color: white;
    text-decoration: none;
    font-size: var(--p_letter_size);
}
/*Menu*/
#menu a {
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--color_4);
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2em;

}
.menuHide{
    display: none;
}

.menuShow{
    display: block;
}
#menuHamburger,
#menuHamburger::before,
#menuHamburger::after {
  margin-left: 15px;
  display: block;
  background-color: var(--color_1);
  height: 6px;
  width: 35px;
  border-radius: 5px;
}
#menuHamburger::before {
    content: '';
    margin-top: -11px;
    margin-left: 00px;
}
#menuHamburger::after {
    content: '';
    margin-top: 16px;
    margin-left: -00px;
}
#logo{
    height: 30px;
    width: 30px;
    margin-right: 15px;
}
/*      HERO SESSION        */


#hero h1{
    color: var(--color_3);
    /*line-height: var(--line_height_1);*/
    padding: 10px;
    margin-left: 10px;
    font-weight: 600;
    font-size: var(--h1_letter_size);
    
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#mainImg{
    width: 90%;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
} 
#hero p {
    margin-left: 10px;
    margin-top: 16px;
    padding: 10px;
    color: black;

}


/*  Call to action  */
#seeProducts{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    height: 100%;
    width: 50%;
    background-color: var(--color_2);
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    padding: 15px;
    border: 3px solid var(--color_2);
    margin: 0px 1px 0px 5px;
}
#login{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    height: 100%;
    width: 50%;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: 600;
    background-color: transparent;
    border: 3px solid var(--color_2);
    padding: 15px;
    margin: 0px 5px 0px 1px;
}
#login:hover{
    background-color: var(--color_2);
    color: white;
    border-radius: 5px;
    
}
#seeProducts:hover{
    color: black;
    background-color: transparent;
    border-radius: 7px;
    
}
#btnDiv{
    margin-top: 32px;
    width: 100%;
    height: 7%;
    display: flex;
}

/*  Prod Session in Main page */
#Producsts{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    background-color: var(--color_1);
    padding: 0px;
    
}
#line{
    position: absolute;
    z-index: 1;
    top: 80px;
    display: flex;
    width: 100%;
    align-items: center;
    height: 1px;
    box-shadow: 0px 20px 100px 5px black;
}
#Producsts h1#shoesH1{
    color: rgb(255, 255, 255);
    font-weight: 500;
    size: 2em;
    width: 100%;
    padding: 35px 0px;
    background-color: var(--color_3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
}
#productsContainer{
    position: absolute;
    top: 100px;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#prodInfo{
    color: rgb(0, 0, 0);
}

.productsDiv{
    padding: 10px;
    margin: 10px;
    width: var(--products_width);
    height: var(--products_heigth);
    border: 1px solid rgba(0, 0, 0, 0.782);
    display: flex;
    flex-direction: column;
    
}
#prodImg{
    align-items: center;
    display: flex;
    justify-content: center;
}
.productsDiv div img{
    background-color: rgba(108, 108, 108, 0.297);
    width: 90%;
}
/*  One Prod Page */
#prodSession{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#imgContainer, #infoContainer{
    width: 60%;
}


#btnAddCart{
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 50%;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 600;
    background-color: var(--color_3);
    padding: 10px;
    
}
#btnAddCart:hover{
    
    background-color: transparent;
    border: 2px solid var(--color_3);
    color: var(--color_3);
    
}

/* ALL Products css*/

#prodContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;
}
#searchSection, #filterSection{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#allProdSubmit, #filterHide, #aplyFilter{
    height: 10px;
    width: 10px;
    background-color: black;
}



/*  Footer 

footer{
    width: 100%;
    bottom: 0%;
    background-color: rgb(47, 47, 47);
    color: white;
    padding: 2px;
    text-align: center;
    position: absolute;
}
footer a:hover{
    background-color: var(--color_1);
    color: var(--color_3);
    border-radius: 5px;
    padding: 2px;
}
*/