@charset "UTF-8";
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --color_1: rgb(255, 255, 255);
    --color_2: rgb(0, 57, 171);
    --color_3: rgb(0,0,0);
    --color_4: rgb(198, 236, 255);
    --h1_letter_size: 20px;
    --h2_letter_size: 16px;
    --p_letter_size: 1.1em;
    --line_height_1: 2em;
    --line_height_2: 1em;
}
body{
    height: 100dvh;
    width: 100dvw;
    background-color: var(--color_1);
}
header{
    width: 100%;
    background-color: var(--color_2);
    height: 7%;
    display: flex;
    align-items: center;

}

#menu a {
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--color_4);
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2em;

}
.menuHide{
    display: none;
}

@keyframes showMenu{
    from {
    transform: translateY(-100%);
}
    to{
        transform: translateY(0%);
    }
}

.menuShow{
    display: block;
    animation-name: showMenu;
    animation-duration: 4s;
}
#menuHamburger,
#menuHamburger::before,
#menuHamburger::after {
  margin-left: 30px;
  display: block;
  background-color: var(--color_1);
  height: 5px;
  width: 25px;
  border-radius: 5px;
}

#menuHamburger::before {
    content: '';
    margin-top: -8px;
    margin-left: 00px;
}
#menuHamburger::after {
    content: '';
    margin-top: 11px;
    margin-left: -00px;
}

a{
    color: white;
    text-decoration: none;
    font-size: var(--p_letter_size);
}
h1{
    color: var(--color_2);
    line-height: var(--line_height_1);
}

footer{
    position: absolute;
    width: 100%;
    bottom: 0%;
    background-color: rgb(47, 47, 47);
    color: white;
    padding: 2px;
    text-align: center;
}
footer a:hover{
    background-color: var(--color_1);
    color: var(--color_3);
    border-radius: 5px;
    padding: 2px;
}

#Shadow{
    position: absolute;
    width: 350px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
    transform: rotate(-6deg) translate(65px, -25px);
}