
@charset "UTF-8";
:root{
    --main_GAP: 32px;
    --bolder_GAP: 48px;
    --extra_GAP: 64px;
    --light_GAP: 16px;
    --micro_GAP: 8px;
    --contrastColor: black;
    --mainColor: white;
    --firstPaletColor: #3043E9;
    --h1_fontSize: 55px;
    --p_fontSize: 16px
}
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100dvw;
    overflow-x: hidden;
}
/*header*/
header{
    height: var(--extra_GAP);
    width: 100%;
    background-color: var(--contrastColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#btnDiv{
    height: 50px;
    width: 50px;
    transform: translateX(25px);
}

#btnHam{
    transform: translate( -25px ,350%);
    margin-left: var(--main_GAP);
    display: block;
    background-color: var(--mainColor);
    height: 6px;
    width: var(--main_GAP);
    border-radius: 3px;
}
#btnHam::after{
    content: '';
    margin-top: 5px;
    display: block;
    background-color: var(--mainColor);
    height: 6px;
    width: var(--main_GAP);
    border-radius: 3px;
}
#btnHam::before{
    content: '';
    display: block;
    background-color: var(--mainColor);
    height: 6px;
    width: var(--main_GAP);
    border-radius: 3px;
    transform: translateY(-11px);
}

header img{
    width: 48px;
    height: 48px;
    margin-right: 30px;
}
/*  MENU HAMBURGUER     */
.navHide{
    display: none;
}


#navId{

    display: none;
}
.navShow{
    width: 60dvw;
    height: 70dvh;
    background-color: var(--mainColor);
    border-bottom-right-radius: 12px;
    border: 1px solid var(--contrastColor);
}

.navMenu{
    display: block;
    backdrop-filter: blur(2px);
    background-color: rgba(168, 168, 168, 0.097);
    width: 100dvw;
    height: calc(100dvh - 64px);
    display: flex;
}
.opacicity{
    position: absolute;
    top: 64px;
    z-index: -1;
    width: 100dvw;
}
.notNav{
    position: absolute;
    z-index: -1;
    background-color: transparent;
    height: 100%;
    width: 100%;
}


/*  Search Session  */

#searchSection{
    position: relative;
    width: 100%;
    height: var(--extra_GAP);
    display: flex;
    align-items: center;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.512);
}
#searchContainer{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#isearch{
    z-index: 1;
    height: var(--main_GAP);
    margin: var(--micro_GAP);
    width: 60%;
    outline: none;
    border: none;
    font-size: 1.1em;
    padding: var(--micro_GAP);
    background-color: transparent;
}

#lupa{
    z-index: -1;
    margin-left: var(--main_GAP);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid black;
    transform: translateY(-2px);
}
#lupa::before{
    content: '';
    display: block;
    height: 2px;
    width: 13px;
    background-color: black;
    transform: rotate(45deg) translate(154%,200%);
}
#lupa:hover{
    border: 1px solid rgba(0, 0, 0, 0.8);
}

@keyframes lineClick {
    from { width: 0%;}
    to   { width: 100%;}
}
#line{
    height: 2px ;
    width: 100%;
    background-color: var(--firstPaletColor);
    animation: lineClick 300ms;
}

#prodContainer{
    display: flex;
    flex-direction: column;

}


/*  prodContainer   */
#productContainer  {
    position: relative;
    margin: var(--light_GAP) var(--main_GAP)  0px var(--main_GAP);
    border: 1px solid black;
    display: flex;
    padding: var(--micro_GAP);
}

#divForInfo{
    position: relative;
    margin: 0px var(--micro_GAP);
}
#divForInfo p{
    font-weight: 600;
    font-size: var(--light_GAP);
    margin-top: 4px;
}
#divForInfo h1{
    font-size: 1.2em;
    font-weight: 500;

}
#divForInfo div {
    font-size: 0.8em;
    font-weight: 600;
    position: absolute;
    display: flex;
    bottom: 8px;
    width: 100%;
}
#divForInfo div span{
    display: flex;
    margin: 0px 16px 0px 0px;
}
#divForInfo div span select {
    margin: 0px 0px 0px 4px;
    border: none;
    background-color: rgb(244, 244, 244);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.106);
}

#productContainer img{
    object-fit: contain;
    width: 100px;
    height: 100px;
    margin: 0px var(--micro_GAP);
    background-color: rgb(244, 244, 244);
    border-radius: 12px;
}

#moveOutProd{
    display: block;
    background-color: black;
    height: 5px;
    width: 20px;
    position: absolute;
    right: 16px;
  transform: translateY(8px) rotate(-45deg);
}
#moveOutProd::before{
    content: '';
    display: block;
    background-color: black;
    height: 5px;
    width: 20px;
    transform: rotate(90deg);

}
