@charset "UTF-8";
:root{
    --main_GAP: 32px;
    --bolder_GAP: 48px;
    --extra_GAP: 64px;
    --light_GAP: 16px;
    --micro_GAP: 8px;
    --contrastColor: black;
    --mainColor: white;
    --firstPaletColor: #3043E9;
    --h1_fontSize: 55px;
    --p_fontSize: 16px
}
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100dvw;
    overflow-x: hidden;
}
/*header*/
header{
    height: var(--extra_GAP);
    width: 100%;
    background-color: var(--contrastColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#btnDiv{
    height: 50px;
    width: 50px;
    transform: translateX(25px);
}

#btnHam{
    transform: translate( -25px ,300%);
    margin-left: var(--main_GAP);
    display: block;
    background-color: var(--mainColor);
    height: 6px;
    width: var(--main_GAP);
    border-radius: 3px;
}
#hasProductsId{
    width: 10px;
    height: 10px;
    background-color:#ffffff;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 3px;
    border: 1px solid rgba(0, 0, 0, 0.269);
}
#btnHam::after{
    content: '';
    margin-top: 5px;
    display: block;
    background-color: var(--mainColor);
    height: 6px;
    width: var(--main_GAP);
    border-radius: 3px;
}
#btnHam::before{
    content: '';
    display: block;
    background-color: var(--mainColor);
    height: 6px;
    width: var(--main_GAP);
    border-radius: 3px;
    transform: translateY(-11px);
}
#btnDiv p{
    color: white;
    font-size: 0.6em;
    transform: translate(20%, 31px);
}
#lupaId{
    margin-right: var(--main_GAP);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    transform: translate(8px);
}
#lupaId::before{
    content: '';
    display: block;
    height: 2px;
    width: 13px;
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg) translate(154%,200%);
}
#lupaId:hover{
    border: 1px solid rgba(255, 255, 255, 0.8);
}
#btnLupa{
    width: 60px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btnLupa p{
    color: white;
    font-size: 0.6em;
    transform: translate(-4px, 8px);
}

header img{
    width: 48px;
    height: 48px;
}/*
#navId{
    position: absolute;
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: hidden;

}   */
.navHide{
    display: none;
}


#navId{

    display: none;
}
.navShow{
    width: 60dvw;
    height: 70dvh;
    background-color: var(--mainColor);
    border-bottom-right-radius: 12px;
    border: 1px solid var(--contrastColor);
}
.navMenu{
    display: block;
    backdrop-filter: blur(2px);
    background-color: rgba(168, 168, 168, 0.097);
    width: 100dvw;
    height: calc(100dvh - 64px);
    display: flex;
}
.opacicity{
    position: absolute;
    top: 64px;
    z-index: -1;
    width: 100dvw;
}
.notNav{
    position: absolute;
    z-index: -1;
    background-color: transparent;
    height: 100%;
    width: 100%;
}



/*hero section*/


#heroSection{
    height: 390px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

#infoHero{
    width: 100%;
    margin-left: var(--main_GAP);
    margin-right: var(--main_GAP);
}
#infoHero h1{
    font-size: var(--h1_fontSize);
    font-weight: bolder;
    color: black;
    margin-bottom: 12px;
}
#infoHero p{
    font-size: var(--p_fontSize);
    color: rgb(34, 34, 34);
    transform: translateY(10px);
}
#calltoAction{
    width: 100%;
    height: var(--bolder_GAP);
    background-color: var(--firstPaletColor);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--micro_GAP);
}
#calltoAction h2{
    color: var(--mainColor);
}
#calltoAction:hover{
    border-radius: 0px;
    opacity: 85%;

}
#noneDeco{
    text-decoration: none;}


/*MOST POPULAR SECTION */

#mostPopular{
    padding: var(--main_GAP);
    height: 376px;
    width: 100%;
    background-color: #d8d8d8;
    margin-top: var(--main_GAP);
}
#mostPopular h1, #mostRequired h1{
    font-size: var(--p_fontSize);
    font-weight: 900;
}
#containerPopular, #containerExclusive{
    width: 100%;
    height: 264;
    display: flex;
    overflow-x: hidden;
    margin: var(--main_GAP) 0px var(--main_GAP) 16px;
}

.prodContainer{
    height: 264px;
    width: 208px;
    margin-right: 32px;
    margin-bottom: 32px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px;
}
.prodContainer img {
    height: 192px;
    width: 192px;
    object-fit: contain;
    margin: 8px;
}
#h1Prod{
    margin: 0px 8px 0px 8px;
    font-weight: 300;
    font-size: 1.1em;
}


.prodContainer p{
    font-weight: 800;
    margin: 0px 8px 8px 4px;
}


/*  EVERYONE WANTS SESSION  */

#mostRequired{
    padding: var(--main_GAP);
    height: 376px;
    width: 100%;
    background-color: var(--mainColor);
}
